$primary_dark: #2F353A;
$primary_light: #3A4149;
$gridline: #454B53;
$axisText: #c5c5c5;
$deselected: #838383;

$blue: #59ade6;
$red: #d37d7a;
$green: #6ec76b;
$yellow: #e6e675;
$purple: #bd63eb;
$orange: #eda961;

$shadow: #1b1e20;