@use 'colours';

body {
    margin: 0;
    font-family: 'Baloo Thambi 2', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: colours.$primary_dark;
}

#content {
    margin: 20px;
}

#lineGraph, #barChart, #treeMap{
    margin: 20px 0;
}

#lineGraph{
    border: 1px solid black;
    width: max-content;
}

#barChart{
    border: 1px solid black;
    width: max-content;
}

#treeMap{
    border: 1px solid black;
    width: max-content;
}

#pieChart{
    border: 1px solid black;
    width: max-content;
}

#areaGraph{
    border: 1px solid black;
    width: max-content;
}


.tooltip{
    background-color: rgba(1, 1, 1, 0.3);
    position: absolute;
    opacity: 0;
    top: -14px;
    left: 0;
    padding: 0.6em 1em;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.9em;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 0 8px 3px rgb(37, 37, 37);
}