@use 'colours';

body {
    margin: 0;
    font-family: 'Baloo Thambi 2', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: colours.$primary_dark;
    color: white;
}

#content {
    margin: 20px;
}
