@use '../colours';

.axis line {
    fill: none;
    stroke-width: 2px;
    stroke: white;

}

.axisText{
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 185%;
    color: colours.$axisText;
    font-weight: 500;
}

.bar{
    stroke-width: 2px;
    cursor: crosshair;
}

.tick > line {
    stroke: colours.$gridline !important;
    stroke-width: 1.5px;
}

#tooltip_barChart{
    width: 100px;
}

#tooltip_barChart_name{
    margin: 3px;
    font-size: 150%;
    color: white;
    font-weight: 500;
}

#tooltip_barChart_return{
    margin: 3px;
    font-size: 130%;
    color: white;
}