@use '../colours';

.axis line {
    fill: none;
    stroke-width: 2px;
    stroke: white;

}

.axisText{
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 185%;
    color: colours.$axisText;
    font-weight: 500;
}