@use '../colours';


// Graph elements
.domain {
    stroke: none;
}

.axis_lineGraph {
    color: colours.$axisText;
    font-size: 1vw;
    font-family: "Baloo Thambi 2";
    font-weight: 500;
    margin-right: 3px;
}

.tooltip_marker_lineGraph {
    stroke-width: 3;
    opacity: 0;
    stroke: white;
}

.line_lineGraph {
    stroke-width: 3;
    fill: none;
}

.axis_lineGraph > .tick > line {
    stroke: colours.$gridline !important;
    stroke-width: 1.5px;
}


// Tooltip stuff
#date {
    color: white;
}

.listeningRect_lineGraph {
    fill: transparent;
    // cursor: none;
}

.tooltip_line {
    stroke: colours.$gridline;
    stroke-width: 2px;
    width: .5px;
    opacity: 0;
}


#tooltip_lineGraph {
    width: 150px;
}


#portfolio_items, #market_items {
    text-align: left;
    display: none;
    flex-flow: column nowrap;
}

.tooltip_item>p {
    margin: 0;
}

#amount_ITM_name, #russell_name {
    color: #abdfa5;
}

#value_name {
    color: #91c1e0;
}

#amount_return_cum_name, #spy_name {
    color: #e2b1af;
}


#amount_ITM_val,
#value_val,
#amount_return_cum_val {
    color: white;
    font-weight: 500;
}


.tooltip_item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tooltip_item>* {
    margin: 0;
}

hr {
    margin: 2px 0 2px 0;
}

// Header stuff

#lineGraphHeader{
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    height:80px;
}


#lineGraphHeader_legend{
    margin: 0 20px 0 30px;
    align-self: center;
}

#lineGraphHeader_dropdown{
    align-self: center;
}

#lineGraphHeader_toggle{
    margin: 0 20px 0 20px;
    width: 270px;
}

.legend{
    display: none;
    align-items: center;
}

.legend.active{
    display: flex;
    flex-flow: row nowrap;
}

.legendItem{
    display: flex;
    flex-flow: row nowrap;
}

.legendItem >p{
    margin:0;
    font-size: 1vw;
}

.legendMarker{
    width: 9px;
    height: 9px;
    margin-right: 10px;
    align-self: center;
    border-radius: 11px;
    border: 2px solid white;
}

#legend_port :nth-child(2).legendItem{
    margin: 0 20px 0 20px;
}

#legend_mark :nth-child(1).legendItem{
    margin-right: 20px;
}

.legendMarker.value{
    background-color: colours.$blue;
}

.legendMarker.itm{
    background-color: colours.$green;
}

.legendMarker.return{
    background-color: colours.$red;
}

.legendMarker.spy{
    background-color: colours.$red;
}

.legendMarker.r2k{
    background-color: colours.$green;
}

#lineGraphHeader_right{
    display: flex;
    flex-flow: row nowrap;
}