@use '../colours';

.domain {
    stroke: none;
}

.tick > line {
    stroke: colours.$gridline !important;
    stroke-width: 2.5px;
}

.dotted {
    stroke: colours.$gridline;
    stroke-width: 2px;
}

.tooltip_lineGraph {
    opacity: 0;
    background-color: rgba(1, 1, 1, 0.3);
    position: absolute;
    top: -14px;
    left: 0;
    padding: 0.6em 1em;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.9em;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 10px;
    pointer-events: none;
    width: 140px;
    box-shadow: 0 0 8px 3px rgb(37, 37, 37);
}

.tooltip_date {
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4em;
}

.tooltip_items{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
}

.tooltip_item > p{
    margin: 0;
}

#amount_ITM_name{
    color: colours.$yellow;
}

#value_name{
    color: colours.$blue;

}

#amount_return_cum_name{
    color: colours.$green;
}


#amount_ITM_val, #value_val, #amount_return_cum_val{
    color: white;
    font-weight: 500;
}

.tooltip_item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tooltip_item > *{
   margin: 0; 
}

hr{
    margin: 2px 0 2px 0;
}