@use '../colours';

.arc > path{
    stroke: white;
    stroke-width: 2px;
}

#tooltip_pieChart{
    width: 160px;
}

#tooltip_pieChart_name{
    margin: 3px;
    font-size: 140%;
    color: white;
    font-weight: 500;
}

#tooltip_pieChart_share{
    margin: 3px;
    font-size: 130%;
    color: white;
}

