@use '../colours';

#treeMap{
    width: max-content;
    border-radius: 10px;
    background-color: white;
    // max-height: 360px;
}

.treeMap_rect{
    stroke: white;
    stroke-width: 2px;
}

.treeMap_text{
    font-size: 1.1em;
    font-family: 'Baloo Thambi 2', sans-serif;
    font-weight: 500;
    cursor: default;
}

#tooltip_treeMap{
    width: 150px;
}

#tooltip_treeMap_ticker{
    margin: 3px;
    font-size: 150%;
    color: white;
    font-weight: 500;
}

#tooltip_treeMap_return{
    margin: 3px;
    font-size: 130%;
    color: white;
}