@use '../colours';

.card {
    background-color: colours.$primary_light;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    border-radius:8px;
    -webkit-box-shadow: 1px 0px 18px -2px colours.$shadow;
    box-shadow: 1px 0px 18px -2px colours.$shadow;
}

.cardTitle{
    font-size: 1.4vw;
    font-weight: 500;
    padding-top: 10px;
    margin:0 20px 0 20px ;
    height: 30px;
    text-align: left;
    display: none;
}

#cards_topLeft{
    display: flex;
    flex-flow: column nowrap;
}

.content_panel{
    display: flex;
    flex-flow: column nowrap;
}

#card_selector{
    margin-bottom: 20px;
}

#card_summary{
    flex-basis: 100%;
}

#card_input, #card_line, #cards_topLeft{
    flex-basis: 60%;
}

#card_pie, #card_treemap, #card_bar{
    margin-top: 20px;
    flex-basis: 40%;
}


#content_left{
    flex-basis: 20%;
}

#content_center{
    flex-basis: 60%;
    margin: 0 20px 0 20px;
}

#content_right{
    flex-basis: 20%;
}

.card_inner{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.loadingDiv > p{
    margin:0;
    text-align: center;
}

.loadingDiv{
    border-radius:5px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-image: linear-gradient(
        90deg,
        colours.$primary_light 0%, colours.$primary_light 40%,
        colours.$gridline 50%, colours.$gridline 55%,
        colours.$primary_light 65%, colours.$primary_light 100%
    );
    background-size: 300%;
    animation: shimmer 1750ms infinite;
}

@keyframes shimmer{
    from {background-position: 100% 100%;}
    to {background-position: 0 0;}
}