@use '../colours';

#main_header {
    background-color: colours.$primary_light;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
}

#main_header *{
    margin: 0;
}

#navItems :nth-child(2){
    margin: 0 20px 0 20px;
}

#navItems * {
    color: lightgray;
    text-decoration: none;
    font-size: 140%;
}

.active {
    text-decoration: underline !important;
    color: white !important;
}